* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  place-items: center;
  height: 10vh;
  /* background-color: aqua; */
  margin-top: 300px;
}

.container button {
  font-size: 20px;
  background-color: blue;
  padding: 10px;
  border: 2px solid green;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
button {
  margin: 20px;
}
